<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h1>Manage your Eccentric Authentication logins</h1>
      <h3>Current logins</h3>
      {{ if .current }}
      <p>
      <table>
        <thead><tr><th>Host</th><th>Account</th><th>Action</th></tr></thead>
        <tbody>
          {{range $hostname, $cred := .current }}
          <tr><td>{{ $hostname }}</td>
            <td>{{ $cred.CN }}</td>
            <td>
              <form method="POST">
                <input type="hidden" name="logout" value="{{ .Hostname }}">
                <input type="submit" name="button" value="Log out of {{ .Hostname }}">
              </form>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
      </p>
      {{ else }}
      <p><em>You are not logged in anywhere.</em></p>
      {{ end }}

      <h3>All your accounts at hosts</h3>
      <p>These are all your accounts we have private keys for.
      <br>You can log in to any. Just click on the host name to get there anonymously.
      <br>You'll get to choose the account when the sites asks for one.</p>
      <p>
      <table>
        <thead>
          <tr><th>Host</th>
            <th>Accounts</th>
            <th>Invited</th>
            <th>App</th>
            <!-- <th>Show full certificate</th> -->
          </tr>
        </thead>
        <tbody>
          {{ range $hostname, $details := .alldetails }}
          <tr>
            <td><a href="http://{{ $hostname }}/">{{ $hostname }}</a></td>
            <td>{{ range $details }}{{ .ListenerCN        }}<br/>{{ end }}</td>
            <td>{{ range $details }}{{ or .CallerCN    "" }}<br/>{{ end }}</td>
            <td>{{ range $details }}{{ or .Application "" }}<br/>{{ end }}</td>
          </tr>
          {{ else }}
          <tr><td colspan="4">You have no accounts anywhere. </td></tr>
          {{ end }}
        </tbody>
      </table>
      </p>
    </div>
  </body>
</html>
